<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psyrc3.runningman">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.NewRecording" />

        <service android:name=".services.LocationService" />

        <activity android:name=".activities.SaveActivity" />
        <activity
            android:name=".activities.ActivityProperties"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <provider
            android:name=".providers.ActivityProvider"
            android:authorities="com.psyrc3.runningman.providers.ActivityProvider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".activities.ListActivities"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ViewDetail" />
        <activity android:name=".UploadActivity"></activity>

        <activity
            android:name="com.sweetzpot.stravazpot.authenticaton.ui.StravaLoginActivity"
            android:label="Strava Login" />

    </application>

</manifest>